/* Muhammed zaim www.muhammedzaim.com www.github.com/muhammedzaimtr*/
.button{
  display: inline-block;
  border: 2px solid #eee;
  background: rgba(0, 0, 0, 0);;
  font-size: 'Arial', sans-serif;
  cursor: pointer;
}

a{
  text-decoration: none;
}

/*------ Button boyut Kodları ------*/

.xsmall{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 16px;
}

.small{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 18px;
}

.medium{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.large{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 24px;
}

.xlarge{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 28px;
}

/*------ Button Renk Kodları ------*/

.greensea{
  color: #16a085;
  border: 2px solid  #16a085;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s ease;
}

.emerald{
  color: #2ecc71;
  border:  2px solid #2ecc71;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s ease;
}

.river{
  color: #3498db;
  border:  2px solid #3498db;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s ease;
}

.wisteria{
  color: #8e44ad;
  border: 2px solid  #8e44ad;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s ease;
}

.asphalt{
  color: #34495e;
  border: 2px solid  #34495e;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s ease;
}

.sunflower{
  color: #f1c40f;
  border: 2px solid  #f1c40f;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s ease;
}

.carrot{
  color: #e67e22;
  border:  2px solid #e67e22;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s ease;
}

.alizarin{
  color: #e74c3c;
  border: 2px solid  #e74c3c;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s ease;
}

.silver{
  color: #bdc3c7;
  border: 2px solid #bdc3c7;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s ease;
}

.concrete{
  color: #7f8c8d;
  border: 2px solid #7f8c8d;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s ease;
}

/*------ Button Hover Kodları ------*/

.greensea:hover{
  border-color: #1abc9c;
  background-color: #1abc9c;
}

.emerald:hover{
  border-color: #27ae60;
  background-color: #27ae60;
}

.river:hover{
  color: #fff;
  border-color: #2980b9;
  background-color: #2980b9;
}

.wisteria:hover{
  color: #fff;
  border-color: #9b59b6;
  background-color: #9b59b6;
}

.asphalt:hover{
  color: #fff;
  border-color: #2c3e50;
  background-color: #2c3e50;
}

.sunflower:hover{
  color: #fff;
  border-color: #f39c12;
  background-color: #f39c12;
}

.carrot:hover{
  color: #fff;
  border-color: #d35400;
  background-color: #d35400;
}

.alizarin:hover{
  color: #fff;
  border-color: #c0392b;
  background-color: #c0392b;
}

.silver:hover{
  color: #fff;
  border-color: #95a5a6;
  background-color: #95a5a6;
}

.concrete:hover{
  color: #fff;
  border-color: #95a5a6;
  background-color: #95a5a6;
}

/*------ Diğer Button Tipleri ------*/

.button.disabled,
.button.disabled:hover,
.button.disabled:focus,
.button.disabled:active,
input.button:disabled,
button.button:disabled {
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  background: #EEE;
  border: 1px solid #DDD;
  text-shadow: 0 1px 1px white;
  color: #CCC;
  cursor: default;
  -webkit-appearance: none;
}

 .radius{
   border-radius: 5px;
 }
